<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="main">
    <h1>Renderizar arrays</h1>
    <ul>
      <!-- 
        v-for: directiva que va a permitir recorrer cualquier objeto iterables
       -->
      <li v-for="elemento in lista">
        {{elemento}}
      </li>
    </ul>
    <hr>
    <h1>Renderizar objetos</h1>
    <ul>
      <li v-for="persona in lista_personas">
        {{persona.nombre}} - {{persona.edad}}
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="directriz.js"></script>
</body>
</html>